@model HomeViewModel

<partial name ="_Caroussel"></partial>
<br>
<div class="mt-2">
<h2>Favoritos</h2>
</div>

<div class="row">
    @foreach(var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>
